<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
  <head>
    <title>Data Subject Request</title>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.25/angular.min.js"></script>
    <script type="text/javascript" src="js/modules/promise-tracker.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  </head>
  <body class="container">
  
  <h2>Data Subject Request</h2>

  <p>This form is used to submit RTF queries.</p>

  <div data-ng-controller="help">
    <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
    <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>
    <form name="helpForm" novalidate role="form">
      <div class="form-group">
        <label for="userId">User Id </label>
        <span class="label label-danger" data-ng-show="submitted && helpForm.userId.$error.required">Required!</span>
        <input type="text" name="userId" data-ng-model="userId" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="userIdType">User Id Type</label>
        <span class="label label-danger" data-ng-show="submitted && helpForm.userIdType.$error.required">Required!</span>
        <input type="text" name="userIdType" data-ng-model="userIdType" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="sourceType">Source Type</label>
        <span class="label label-danger" data-ng-show="submitted && helpForm.sourceType.$error.required">Required!</span>
        <select name="text" data-ng-model="sourceType" data-ng-options="id as value for (id, value) in sourceTypeOptions" class="form-control" required>
          <option value="">Please select the source type</option>
        </select>
      </div>

      <div class="form-group">
        <label for="sourceName">Source Name</label>
        <span class="label label-danger" data-ng-show="submitted && helpForm.sourceName.$error.required">Required!</span>
        <input type="text" name="sourceName" data-ng-model="sourceName" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="sourceId">Source Id </label>
        <input type="text" name="sourceId" data-ng-model="sourceId" class="form-control" />
      </div>

      <button data-ng-disabled="progress.active()" data-ng-click="submit(helpForm)" class="btn btn-default">Submit</button>
    </form>
  </div>

  </body>
</html>
